<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-button>
    <ion-title>Bits&Pieces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bits&Pieces</ion-title>
      <ion-button fill="clear" shape="round" slot="end">
        <ion-icon slot="icon-only" name="bag-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let product of products">
    <ion-card-content>
      <ion-thumbnail slot = "start">
        <img alt="product-img" src={{product.ProductImg}}>
      </ion-thumbnail>
      <ion-card-title>{{product.Product}}</ion-card-title>
      <ion-card-subtitle>{{product.Price}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>